<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="css/style.css">
		<style>
			#save_to_spotify {
				display: none;
			}
		</style>
	</head>
	<body>
		<div class="festival-container">
			<div class="container">
				<p>
				  Bacon ipsum dolor sit amet ground round strip steak jerky salami pork chop. Boudin tri-tip hamburger pork belly tongue drumstick biltong venison swine bresaola beef tenderloin ham hock. Venison strip steak meatloaf, pancetta ham hock turducken beef pork loin leberkas ground round spare ribs tail. Tenderloin boudin short loin pork belly. Ball tip ribeye chuck fatback short ribs turducken turkey, kevin boudin brisket porchetta.
				</p>
				<form id="search_form" method="POST" action="{{ url('artist-search') }}">
					<input type="text" name="artist_name" placeholder="Enter an artist" />
					<input id="search" class="btn" type="submit" value="Get Songs" />
					<div class="form-help">
						<span>
						</span>
					</div>
				</form>
		    </div>
		</div>

		<div class="playlist-container">
			<div class="container playlist" id="results">
				<button class="btn centered" id="save_to_spotify">
		            Add this playlist to Spotify
		        </button>

			</div>
		</div>
		<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
		<script src="/js/index.js"></script>
	</body>
</html>