// Body reset
// -------------------------
html {
  font-size: 100%;
  height: 100%;
  body {
    font-size: $baseFontSize;
    font-weight: 400;
    height: 100%;
    line-height: $baseLineHeight;
  }
}

// body reset
body {
  background-color: $bodyBackground;
  color: lighten($textColor, 15);
  font-family: $baseFontFamily;
}

// Links
// -------------------------

a {
  color: $linkColor;
  text-decoration: none;
}
a:hover,
a:focus {
  color: $linkColorHover;
  text-decoration: underline;
}

// Buttons
// -------------------------
.btn {
  background: #F5F5F5;
  border: 0;
  font-size: 20px;
  padding: 7px 20px;
  &:hover {
    background: $teal;
    color: #FFF;
  }
  &:active {
    background: darken($teal, 5);
  }
}

.error {
  color: #fff;
  background: $errorColor;
  padding: 3px 5px;
}