// Body reset
// -------------------------
html {
  font-size: 100%;
  height: 100%;
  body {
    font-size: $baseFontSize;
    font-weight: 400;
    height: 100%;
    line-height: $baseLineHeight;
  }
}

// body reset
body {
  background-color: $bodyBackground;
  color: lighten($textColor, 15);
  font-family: $baseFontFamily;
}

// Images won't expand outside grid space
img {
  max-width: 100%;
}

// Links
// -------------------------

a {
  color: $linkColor;
  text-decoration: none;
}
a:hover,
a:focus {
  color: $linkColorHover;
  cursor: pointer;
  text-decoration: underline;
}

// Buttons
// -------------------------
.btn {
  background: $violet;
  border: 1px solid $violet;
  border-radius: 3px;
  color: #FFF;
  font-size: 20px;
  padding: 7px 20px;
  &:hover,
  &:active,
  &:focus {
    background: #FFF;
    color: $violet;
    outline: 0;
  }
}

// Lists
// -------------------------
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.horizontal {
  li {
    display: inline-block;
    margin: 0 10px;
  }
}

.error {
  color: #fff;
  background: $errorColor;
  padding: 3px 5px;
}
