// Additional Colors
// -------------------------
$teal: 	   #56DED3;
$navy: 	   #023749;
$lime: 	   #dcde56;
$red: 	   #a74848;
$violet:   #CA2295;
$grey:     #333;

// Scaffolding
// -------------------------
$bodyBackground:        $teal !default;
$textColor:             $grey !default;
$errorColor:			      $red;

// Typography
// -------------------------
$sansFontFamily:        "Raleway", Helvetica, Arial, sans-serif !default;
$serifFontFamily:       Georgia, "Times New Roman", Times, serif !default;
$monoFontFamily:        Monaco, Menlo, Consolas, "Courier New", monospace !default;

$baseFontSize:          14px !default;
$baseFontFamily:        $sansFontFamily !default;
$baseLineHeight:        20px !default;
$altFontFamily:         $serifFontFamily !default;

$headingsFontFamily:    inherit !default;
$headingsFontWeight:    bold !default;    // instead of browser default, bold
$headingsColor:         inherit !default;

// Links
// -------------------------
$linkColor:             #1188bd !default;
$linkColorHover:        darken($linkColor, 15%) !default;
