@import url('https://fonts.googleapis.com/css?family=Raleway:400,500');
@import url('http://fonts.googleapis.com/css?family=Sacramento');

@import "normalize";
@import "variables";
@import "mixins";
@import "bourbon/bourbon";
@import "grid";
@import "scaffolding";

// individual pages
@import "pages/home";
@import "pages/playlist";

.intro {
  .container {
    padding: 100px 0;
    width: 70%;
  }
  p {
    font-size: $baseFontSize + 2;
    line-height: 26px;
  }
}

.pseudo-menu {
  background: lighten($teal, 25%);
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);
  display: none;
  padding: 10px;
  width: 100%;
  .btn {
    float: right;
    margin-top: 10px;
    margin-right: 40px;
  }
}

.static-button {
  margin-bottom: 40px;
}

// otherwise known as "holds the main content"
// think of a better name for this class
.playlist-container {
  background: $teal;
  color: #FFF;
  margin: 0px auto;
  padding: 40px 0 20px;
  .container {
    width: 90%;
  }
}

.playlist {
  font-size: $baseFontSize + 4;
  .row {
    margin: 20px auto;
  }
}

.artist-name {
  font-weight: 500;
  padding-top: 10px;
  padding-right: 25px;
  text-align: right;
}

.footer {
  font-size: $baseFontSize - 2;
  padding: 10px 0;
  a {
    color: $textColor;
    font-weight: 500;
    &:hover {
      color: #000;
    }
    &:active {
      color: #000;
    }
  }
}

@media screen and (max-width: $grid-float-breakpoint) {
  .pseudo-menu {
    padding: 10px 0;
  }
  .pseudo-menu img {
    display: none;
  }
  .pseudo-menu .btn {
    display: block;
    float: none;
    margin: 0 auto;
    padding: 7px;
  }
  .logo {
    max-width: 70%;
  }
  .artist-name {
    margin-top: 10px;
    text-align: left;
  }
  .playlist .row {
    margin: 0 -10px;
  }
  .btn {
    font-size: 17px;
  }
  .intro p {
    font-size: $baseFontSize + 2px;
  }
  .intro .container {
    padding-top: 30px;
  }
}

.image-test {
  .overlay {
    min-height: 70%;
    overflow: hidden;
    position: relative;
  }
  .overlay-inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.80);
  }
  .container {
    padding: 100px 0;
    width: 70%;
  }
  img.background {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    /* Set up positioning */
    position: absolute;
    bottom: 0;
    left: 0;
  }
  p {
    font-size: 18px;
    line-height: 26px;
  }
  &.option-2 {
    color: #FFF;
    .overlay-inner {
      background: rgba(25, 25, 25, 0.7);
    }
  }
}
