@import url('https://fonts.googleapis.com/css?family=Raleway:400,500');

@import "normalize";
@import "variables";
@import "mixins";
@import "grid";
@import "scaffolding";

.festival-container {
  background: url('/images/festival.png') no-repeat center center;
  background-size: cover;
  min-height: 55%;
  .container {
    padding: 100px 0;
    width: 70%;
  }
  p {
    font-size: $baseFontSize + 4;
    line-height: 26px;
  }
  form {
    margin: 50px 0 0;
    text-align: center;
  }
  input[type="text"] {
    border: 0;
    font-size: 20px;
    padding: 7px 10px;
    width: 270px;
  }
  .form-help {
    font-size: 16px;
    font-weight: 500;
    padding-top: 10px;
  }
}

.button-container {
  background: $teal;
}

.pseudo-menu {
  background: lighten($teal, 25%);
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);
  padding: 10px;
  width: 100%;
  .btn {
    float: right;
    margin-top: 10px;
    margin-right: 40px;
  }
}

.static-button {
  margin-bottom: 40px;
}

.playlist-container {
  background: $teal;
  color: #FFF;
  margin: 0px auto;
  padding: 40px 0 20px;
  .container {
    width: 90%;
  }
}

.playlist {
  font-size: $baseFontSize + 4;
  .row {
    margin: 20px auto;
  }
}

.artist-name {
  font-weight: 500;
  padding-top: 10px;
  padding-right: 25px;
  text-align: right;
}

ol.grid-8 {
  border: 1px solid darken($teal, 7%);
  font-size: $baseFontSize + 2;
  list-style-position: inside;
  margin: 0;
  padding: 5px;
  li {
    padding: 2px 5px;
  }
  span {
    float: right;
  }
}

ol>li:nth-child(odd) {
  background-color: darken($teal, 7%);
}

.footer {
  font-size: $baseFontSize - 2;
  padding: 10px 0;
  text-align: center;
  a {
    color: $textColor;
    font-weight: 500;
    &:hover {
      color: #000;
    }
    &:active {
      color: #000;
    }
  }
}

@media screen and (max-width: $grid-float-breakpoint) {
  .pseudo-menu img {
    display: none;
  }
  .pseudo-menu .btn {
    float: none;
    margin-right: 0px;
    margin-top: 0;
    padding: 7px 15px;
  }
  .artist-name {
    margin-top: 10px;
    text-align: left;
  }
  .playlist .row {
    margin: 0 -10px;
  }
}
