@import url('https://fonts.googleapis.com/css?family=Raleway:400,500');

@import "normalize";
@import "variables";
@import "mixins";
@import "grid";
@import "scaffolding";

.festival-container {
  background: url('../images/festival.png') no-repeat center center;
  background-size: cover;
  height: 55%;
  .container {
    padding: 100px 0;
    width: 70%;
  }
  p {
    font-size: $baseFontSize + 4;
    line-height: 26px;
  }
  form {
    margin: 50px 0 0;
    text-align: center;
  }
  input[type="text"] {
    border: 0;
    font-size: 20px;
    padding: 7px 10px;
    width: 270px;
  }
  .form-help {
    font-size: 16px;
    font-weight: 500;
    padding-top: 10px;
  }
}

.button-container {
  background: $teal;
}

.playlist-container {
  background: $teal;
  color: #FFF;
  margin: 0px auto;
  padding: 40px 0 20px;
  }
}

.playlist {
  font-size: $baseFontSize + 4;
  width: 90%;
  .row {
    margin: 20px auto;
  }
  .grid-4 {
    font-weight: 500;
    padding-top: 10px;
    padding-right: 25px;
    text-align: right;
  }
}

ol.grid-8 {
  border: 1px solid darken($teal, 7%);
  font-size: $baseFontSize + 2;
  list-style-position: inside;
  margin: 0;
  padding: 5px;
  li {
    padding: 2px 5px;
  }
  span {
    float: right;
  }
}

ol>li:nth-child(odd) {
  background-color: darken($teal, 7%);
}

.footer {
  font-size: $baseFontSize - 2;
  padding: 10px 0;
  text-align: center;
  a {
    color: $textColor;
    font-weight: 500;
    &:hover {
      color: #000;
    }
    &:active {
      color: #000;
    }
  }
}
